* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fb;
  height: 100vh;
}

.main-shape1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: auto;
}

.main-shape2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: auto;
}

.landingpage {
  text-align: center;
}

.landingpage-header {
  font-family: Karla;
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
  color: #293264;
  margin: 0px;
}

.landingpage-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #293264;
  margin: 7px 0 30px 0;
}

.landingpage-button {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #f5f7fb;
  width: 193px;
  height: 52px;
  border: none;
  border-radius: 15px;
  background-color: #4d5b9e;
}

.mainpage {
  margin: 0 300px 0 300px;
  display: flex;
  flex-direction: column;
}

.question {
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #293264;
  margin: 0 0 0 0;
}

.options {
  margin: 12px 0 15px 0;
  display: flex;
}

.choice {
  font-family: Inter;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: #293264;
  background-color: transparent;
  border: 1px solid #4d5b9e;
  min-width: 60px;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}

.line {
  border: 0.8px solid #dbdef0;
}

.footer {
  align-self: center;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.check-button {
  font-family: Inter;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  background-color: #4d5b9e;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.display-score {
  font-family: Inter;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #293264;
  margin: 0 20px 0 0;
}
